@import url(https://fonts.googleapis.com/css?family=Roboto:500);
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Honk&family=Lilita+One&family=Lobster+Two:ital@1&display=swap');

.App {
  text-align: center;
  padding: 2% 5%;
}

body{
  background-image: linear-gradient(to right, black, white, black);
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
  align-items: center;
}

p {
  margin: 5px 0;
}

button{
  transition: all .5s;
}

button:hover {
  transform: scale(1.5);
}

button:active {
  transform: scale(1);
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
  background-color: #02142b;
  color: white;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #000000;
  color: white;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #bcdcdb;
  color: #02142b;
  cursor: pointer;
}

.event-element {
  padding: 10px 50px;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  font-size: 125%;
  transition: all 1s ease;
  
}

#event-element{
  margin: 10px 50px;
}

.event-title {
  font-family: 'Honk', system-ui;
  font-size: 200%;
  margin: 0;
  transition: all 1s ease;
}

.expanded {
  background-image: linear-gradient( #02142b, white, white, white, #02142b);
  color: #02142b;
  border-radius: 25% 50%;
  padding: 10px 75px;
  border: 1px solid pink;
}

.expanded .event-title{
  scale: 1.5;
}

.collapsed {
  background-image: linear-gradient(to right, #02142b, #02142b, #02142b, #02142b, #02142b);
  color: white;
  border-radius: 25% 50%;
  border: 3px solid darkslateblue;
}

.details-btn {
  position: absolute;
  right: 5px;
  bottom: 5px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  scale: 1.25;
  background-image: linear-gradient(to right,white,white, white, white, #02142b);
}

.alerts-container {
  position: fixed;
  top: 0px;
  left: 20px;
  width: 250px;
  z-index: 1000;
}

.event-date, .event-description, .event-location{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.event-date, .event-location{
  font-weight: bolder;
}

@media (max-width: 800px){
  .expanded, .collapsed{
    border-radius: 40px;
    margin: 5px 5px;
    padding: 5px;
  }

  .expanded{
    background-image: linear-gradient(white, white, white, #02142b);
  }

  .event-element{
    padding: 10px;
    padding-bottom: 25px;
  }

  .alerts-container{
    right: 20px;
    bottom: 0;
  }

  #event-element{
    margin: 10px 0;
  }


  .expanded .event-title{
    scale: 1;
  }

  .details-btn{
    scale: 1;
    padding: 2px;
    margin: 0;
    bottom: 0;
    color: black;
  }

  .event-date, .event-description, .event-location{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    font-size: 75%;
  }

  .event-title{
    font-size: 125%;
    transition: all .5s ease;
  }
}
